@font-face {
    font-family: "Bebas";
    src: url('/assets/fonts/Bebas-Regular.ttf');
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background: transparent
}

body::-webkit-scrollbar-thumb {
    background-color: #e50914;
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}